html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Livvic", "Times New Roman", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 90vw;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cards {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card {
  position: relative;
  flex-grow: 0;
  height: 80vh;
  width: 55px;
  border-radius: 50px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.7s ease-in;
}

.card:nth-of-type(1) {
  background-image: url('../img/woodland.jpeg');
}

.card:nth-of-type(2) {
  background-image: url('../img/yellow-petals.jpeg');
}

.card:nth-of-type(3) {
  background-image: url('../img/mountain.jpeg');
}

.card:nth-of-type(4) {
  background-image: url('../img/forest.jpeg');
}

.card:nth-of-type(5) {
  background-image: url('../img/grassland.jpeg');
  margin-right: 0;
}

.card-title {
  position: absolute;
  left: 30px;
  bottom: 30px;  
  margin: 0;
  opacity: 0;
  color: aliceblue;
  font-size: 22px;
}

.active {
  flex-grow: 1;
}

.active .card-title {
  opacity: 1;
}

@media(max-width: 768px) {
  .card {
    width: 45px;
    height: 55vh;
  }

  .card-title {
    font-size: 16px;
  }

  .card:nth-of-type(5) {
    display: none;
  }
}

@media(max-width: 425px) {
  .card:nth-of-type(4) {
    display: none;
  }
}
